@model L11.Models.Address

@{
	/*
	 * Сделайте частичное представление, которое принимает как модель Movie
	 * И выводит краткую карточку фильма - название, год выхода, ссылка на Details
	 * Добавьте её на страницу Edit и вместо тела Delete
	 */
}

<img src="~/img/press.jpg" style="width: 200px"/>
<div>
	@ViewData["Message"]
</div>
<div>
	<p>@Model.City, @Model.Street, @Model.HouseNumber</p>
</div>